@import url('family=Roboto:wght@300&family=Tilt+Neon&display=swap');

:root {
    --primary-color: #DBB1BC    ;
    --secondary-color: #4D9DE0;
    --accent1-color:    #785964   ;
     --accent2-color:   #0EBE78   ;
   
     --heading-font: "Tilt neon", serif;
     --paragraph-font: 'Roboto', serif;
   
     --nav-background-color: #DBB1BC;
     --nav-link-color: #4D9DE0;
     --nav-hover-link-color: #785964;
     --nav-hover-background-color: #0EBE78; 
 }
 h1,h2 {
    text-align: center;
}
.hero img{
	margin: 10px auto;
	position: relative;
  float:right;
  width:200px;

}


  
header img{
  width:150px
}

main img{
  width:300px
}
